@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.1rem;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    padding-right: 400px;
    justify-content: space-between;
    gap: 2.5rem;
    
}

.nav-text {
    color: #666;
}

.nav-text:hover {
    color: #0099ff;
}

.header-content {
    background-color: #fff;
    width: 160vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 2px #eee;
    padding: 20px;
    padding-left: 370px;
    position: fixed;

}

.logo-icon {
    height: 17px;
    width: 129px;
}

.MainImg {
    height: 462px;
    width: 1100px;
    margin-bottom: 60px;
}

.img {
    margin-top: 168px;
    padding: 0px 20px 20px;
    
}

h1 {
    font-size: 44px;
}

h5 {
    font-size: 20px;
    padding: 10px 0px 20px;
    font-weight: 300;
}

button {
    background-color: #387ed1;
    margin-top: 25px;
    padding: 10px 30px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    color: #fff;
    font-size: 19.2px;
}

button:hover {
    background-color: black;
}